ul {
   list-style: none;
}

.menu-box {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   color: #fff;

   label {
      display: block;
      position: relative;
      line-height: 28px;
      padding: 7px 10px;
      font-size: 1rem;
      font-weight: 550;
      height: 43px;
      cursor: pointer;
      background-color: #2d99ff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding-left: 11px;

      svg {
         display: block;
         position: absolute;
         top: 50%;
         right: 2px;
         transform: translateY(-50%);
         width: 30px;
         min-width: 30px;
         height: 30px;
         min-height: 30px;
         margin-left: 10px;
      }
   }

   #menu-label>input[type="checkbox"] {
      display: none;
   }

   .menu {
      width: fit-content;
      height: 0;
      overflow: hidden;
      transition: all .3s;
      position: absolute;
      z-index: 10;
      left: 0;

      ul {
         background-color: #fff;
         opacity: 1 !important;
         color: #000;
         padding: 5px 0px;
         border: 1px solid #2d99ff;
      }

      li {
         padding: 5px 15px;
         cursor: pointer;

         &:hover {
            background-color: rgba(192, 192, 192, 0.3);
         }
      }

      * {
         font-size: .9rem;
      }
   }
}